.text-area-container {
  position: relative;
}

.ghost-text-area {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: start;
  max-height: 200px;
  overflow-y: hidden;
  padding: 1rem 2.5rem 1rem 0.75rem;
  border-width: 0;
  margin: 0;
  background-color: transparent;
  pointer-events: none;
  color: transparent;
}

.logo {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.ghost-text-input:focus {
  outline: none;
}

#autocomplete-text {
  color: gray;
  opacity: 1;
}
