.toast {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000; /* Ensure it's above everything */
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}
