.response-helper {
  border: none;
  background-color: #646cff;
  padding: 0px 2px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  opacity: 0.1;
  z-index: 1;
  margin-left: 15px;
  min-width: 7px;
}

.button-container {
  display: flex;
  height: 100%;
  overflow: hidden; /* Hide overflow */
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 0px;
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
}

.response-helper-button {
  height: 21px;
  width: 21px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explain-button {
  background-color: #18c37d;
  color: white;
}
.explain-button:hover {
  background-color: #14aa6b;
}

.copy-button {
  background-color: rgb(255, 255, 255);
  color: white;
}
.copy-button:hover {
  background-color: rgb(224, 224, 224);
}

.response-helper-button > svg {
  height: 14px;
  width: 14px;
  fill: black;
}
