
.ghost-textarea {
  position: absolute; 
  width: 100%;
  height: 100%;
  max-height: 200px;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: start;
  max-height: 200px;
  overflow-y: hidden;
  padding: 10px 2.5rem 10px 0.75rem;
  border-width: 0;
  margin: 0;
  background-color: transparent;
  pointer-events: none;
  color: green;
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  .ghost-textarea {
    padding: 1rem 3rem 1rem 1rem;
  }
}

.logo {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#autocomplete-text {
  color: gray;
  opacity: 1;
}

.expanded-textarea {
  padding-bottom: 50px !important;
}