.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  outline-offset: 2px;
  color: inherit;
  margin-top: 4rem;
  margin-bottom: 4rem;
  z-index: 100;
  background-color: var(--color-cardBackground);
  outline: transparent solid 2px;
  border-radius: 1em;
  padding: 1em;
  font-size: small;
}

.modal-header {
  flex: 0 1 0%;
}

.modal-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
